.profile__title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin: 0 17px 16px 0;
}
@media screen and (max-width: 525px) {
    .profile__title {
      font-size: 27px;
      margin: 0 7px 0 0;
    }
  }