.popup__btn-close{
    background: url(../../../images/Close.svg);
    cursor: pointer;
    height: 40.7px;
    width: 40.7px;
    border: none;
    box-sizing: border-box;
    background-size: 100%;
    transition: linear 0.2s;
    margin-top: 20px;
    position: absolute;
    top:-52px;
    left: 420px;
    padding: 0;
    outline:none;
}
.popup__btn-close:hover{
    opacity: 0.6;
    transition: linear 0.2s;
}

@media screen and (max-width: 500px) {
    .popup__btn-close {
        left: 97%;
    }
  }