.element__trash{
        background: url(../../../images/trash.svg);
        cursor: pointer;
        width: 18px;
        height: 19px;
        border: none;
        transition: linear 0.2s;
        position: absolute;
        left: 249px;
        top: 18px;
        z-index: 4;
        outline:none;
    }
    .element__trash:hover{
        opacity: 0.6;
        transition: linear 0.2s;
    }
